@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
}

body{
    background-image: url('');
    background-size: cover;
    background-position: fixed;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

#contenido{
    padding: 20px;
    width: 100%;
    height: 100%;
}

/*TEXTOS*/
h3{
    font-family: 'Inter', sans-serif;
    color: #28384A;
    font-weight: 800;
    font-size: 1.7em;
}

/*SECCIONES*/
#ubicaciones{
    background-color: rgb(242, 242, 242, 0.5);
    backdrop-filter: blur(20deg);
}