@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #1A1C29;
}

/*TEXTOS*/
h3 {
    color: #1A1C29;
    font-weight: 800;
    font-size: 1.3em;
    line-height: 40px;
}

#texto_temperatura{
    font-size: 3.3em;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

.titulo1{
    font-size: 18px !important;
    font-weight: bold;
}

.p_ciudad{
    font-weight: 600;
    font-size: 18px;
}

.p_provincia{
    font-weight: 300;
    font-size: 14px;
}

#contenido {
    padding: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}

/*SECCION1 ====================================================*/
#ubicaciones {
    width: 43%;
    height: 100%;
    background-color: rgb(242, 242, 242, 0.5);
    backdrop-filter: blur(20deg);
    box-shadow: 0px 0px 10px rgba(142, 142, 142, 0.5);
    border-radius: 20px;
    padding: 15px;
}

/*BUSCADORES*/
input {
    width: 100%;
    height: 35px;
    border-radius: 50PX;
    border: 1px solid lightgray;
    margin-top: 5px;
    font-size: 0.9em;
}

#ubication_search {
    background: url(https://cdn0.iconfinder.com/data/icons/slim-square-icons-basics/100/basics-19-32.png) no-repeat 5px 5px;
    background-size: 24px;
    padding-left: 35px;
}

/*MAPA*/
#div_mapa{
    width: 100%;
    margin-top: 17px;
    margin-bottom: 17px;
}

/*CARDS*/
#ubicaciones_seleccionadas{
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card_ubicacion{
    width: 49%;
    min-width: 375px;
    max-width: 450px;
    background: radial-gradient(#ffeec3, #c4e6ff 75%, #d5edff);
    border-radius: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    padding-right: 30px;
    margin-bottom: 15px;
    transition: 0.3s;
}

.card_ubicacion:hover{
    cursor: pointer;
    box-shadow: 0px 0px 10px #a5a5a5;
}

#icono {
    width: 100px;
    height: auto;
    margin-right: 1vw;
    filter: drop-shadow(0px 0px 10px rgb(40, 56, 74, 0.25))
}

#primera_linea{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

#segunda_linea{
    display: flex;
    justify-content: space-between;
    align-items: end;
} 

.div_info{
    width: 100%;
}

#lugar p:first-of-type{
    font-weight: 600;
    font-size: 18px;
}

#lugar p:nth-of-type(2){
    font-weight: 300;
    font-size: 14px;
}

#humedad p:first-of-type{
    font-weight: 800;
    font-size: 16px;
}

#humedad p:nth-of-type(2){
    font-weight: 300;
    font-size: 14px;
}


/*SECCION2 ====================================================*/
#info_ubicacion{
    width: 27%;
    height: 100%;
    background: radial-gradient(#FFF383 , #B7E9FF);
    box-shadow: 0px 0px 10px rgba(142, 142, 142, 0.5);
    border-radius: 20px;
    padding: 15px;
}

#fecha{
    text-align: center;
    margin-top: 10px;
}

#fecha p{
    font-size: 14px;
    line-height: 25px;
}


/*INFO GENERAL*/
#info_principal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 35px;
}

#info_principal_datos{
    width: 50%;
}

#info_principal_icono{
    width: 50%;
    display: flex;
    justify-content: center;
}

#info_principal_icono img{
    width: 70%;
    filter: drop-shadow(0px 0px 10px rgb(40, 56, 74, 0.25));
}

#info_principal_fila1{
    display: flex;
    align-items: baseline;
}


/*WIDGETS*/


/*SECCION3 ====================================================*/
#tercera_seccion{
    width: 30%;
    height: 100%;
}

#ajustes{
    width: 100%;
    height: 50%;
    background-color: rgb(242, 242, 242, 0.5);
    backdrop-filter: blur(20deg);
    box-shadow: 0px 0px 10px rgba(142, 142, 142, 0.5);
    border-radius: 20px;
}

#seccion_grafico{
    width: 100%;
    height: 50%;
    background-color: rgb(242, 242, 242, 0.5);
    backdrop-filter: blur(20deg);
    box-shadow: 0px 0px 10px rgba(142, 142, 142, 0.5);
    border-radius: 20px;
}

