@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-image: url('img/fondo-index.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    animation: fondo_movil 10s infinite ease-in-out;
}

@keyframes fondo_movil {
    0% {
        background-position: center;
    }

    50% {
        background-position: (0, -300px);
    }

    100% {
        background-position: center;
    }

}

/*TEXTOS*/
h1 {
    font-family: 'Inter', sans-serif;
    color: #28384A;
    font-weight: 600;
    font-size: 50px;
}

h2 {
    font-family: 'Inter', sans-serif;
    color: #28384A;
    font-weight: 800;
    font-size: 25px;
}

p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

/*CONTENIDO*/
#contenido {
    width: 100%;
    height: 100%;
    /* padding-left: 5%;
    padding-right: 5%; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#contenido p {
    margin-top: 3%;
}

#textos {
    width: auto;
    padding-top: 5%;
}

#contenido #logo {
    width: 250px;
    margin-bottom: 50px;
}

/*FORM*/
#form-login {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(20deg);
    padding: 50px 50px 70px 50px;
    border-radius: 20px;
    width: 500px;
    box-shadow: 0px 0px 30px rgb(0, 0, 0, 0.25);

}

#form-login h2 {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

label {
    font-family: 'Inter', sans-serif;
    font-size: 1em;
}

input {
    width: 100%;
    height: 50px;
    border-radius: 12px;
    border: 1px solid lightgray;
    margin-top: 5px;
    font-size: 1em;
}

input:first-of-type,
input:nth-of-type(2) {
    margin-bottom: 20px;
    padding: 10px;
}

input:placeholder-shown {
    padding-left: 10px;
}

input#submit {
    background-color: #28384A;
    color: white;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
    margin-top: 50px;
}

input#submit:hover {
    background-color: #32465d;
    transition: ease-in-out 0.2s;
}

input#submit:active {
    background-color: #2f5b8e;
    transform: scale(105%);
    transition: ease-in-out 0.2s;
    
}

input#remember {
    width: 17px;
    height: 15px;
    margin-top: 20px;
    border-radius: 10px;
    border-color: red;
}

#form-login p {
    text-align: center;
    margin-top: 40px;
}

#form-login p a {
    color: #009dec;
}

@media (width < 1355px){
    h1{
        font-size: 20px;
        text-align: center;
    }

    body{
        padding: 30px;
    }

    p:nth-of-type(2){
        display: none;
    }

    p:first-of-type{
        height: 90px;
        text-align: center;
    }

    #form-login{
        margin-top: 30px;
        padding: 30px;
    }

    #form-login div img{
        display: none;
    }

    h2{
        margin: 0px !important;
        margin-bottom: 30px !important;
    }

    input#submit{
        margin-top: 20px !important;
        margin-bottom: 20px !important;
    }

    p:last-of-type{
        margin-top: 0px !important;
        line-height: 10px !important;
    }
}